<h2>JSON's Current Inventory</h2>

<!-- TODO Implement "add new bike" feature -->

<mat-button-toggle-group [(ngModel)]="filterMethod">
  <mat-button-toggle value="vin">VIN search</mat-button-toggle>
  <mat-button-toggle value="make">Make lookup</mat-button-toggle>
  <mat-button-toggle value="type">Type lookup</mat-button-toggle>
</mat-button-toggle-group>

<button mat-button (click)="addNewBike()">Add new bike to inventory</button>

<form #searchForm="ngForm">
  <div *ngIf="filterMethod === 'vin'">
    <mat-form-field>
      <mat-label>Search by VIN</mat-label>
      <input
        matInput
        type="text"
        placeholder="17 alphanumeric characters"
        [formControl]="vinField"
        required
      />
      <mat-error *ngIf="vinField.invalid">{{ getVinErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>
  <div *ngIf="filterMethod === 'make'">
    <mat-form-field>
      <mat-label>Filter by make</mat-label>
      <mat-select matInput [formControl]="makeField" required>
        <mat-option *ngFor="let make of availableMakes" [value]="make">
          {{ make }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="makeField.invalid">{{
        getMakeErrorMessage()
      }}</mat-error>
    </mat-form-field>
  </div>
  <div *ngIf="filterMethod === 'type'">
    <mat-form-field>
      <mat-label>Search by type</mat-label>
      <input matInput type="text" [formControl]="typeField" required />
      <mat-error *ngIf="typeField.invalid">{{
        getTypeErrorMessage()
      }}</mat-error>
    </mat-form-field>
  </div>
  <button (click)="submitSearch()">Search</button>
  <button (click)="resetSearch()">Display all inventory</button>
</form>
<br />
<!-- Loading indicator and/or "no results found" hint -->
<div class="inventory-container" *ngIf="bikesToDisplay.length > 0">
  <mat-card
    *ngFor="let bike of bikesToDisplay"
    (click)="navigateToDetail(bike.bike_id)"
  >
    <mat-card-title>{{ bike.make }} {{ bike.type }}</mat-card-title>
    <mat-card-subtitle>{{
      bike.purchased ? "Sold" : "In stock"
    }}</mat-card-subtitle>
    <!-- Display bike image -->
    <mat-card-content
      >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus,
      facere tenetur corrupti hic adipisci sed enim ad doloribus deserunt
      blanditiis, unde consectetur architecto dolor harum aliquam exercitationem
      natus, vel rem.</mat-card-content
    >
    <mat-card-footer>{{ bike.price | currency }}</mat-card-footer>
  </mat-card>
</div>
